/* TITLE */
/* 
header {
    display: flex;
    align-items: center; 
} */

#title {
    font-size: 60px;
    margin:0;
    text-align: center;
}

/* MEMBER BUTTONS */
p > a {
    background-color: red;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}

/* NAVIGATION */

#navigation a {
    display: inline-block;
    background-color: red;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}

/* NEWS */

#latest-news-label {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
}

#news a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background-color:black;
    color: white;
}

#more-news-button {
    display: inline-block;
    background-color: red;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}